<!DOCTYPE html>
<html>
<head>

    <title>Apollo280 Contacs</title>

    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

    <link href="/stylesheets/simple-sidebar.css" rel="stylesheet">

    <link href="/font-awesome-4.3.0/css/font-awesome.min.css" rel="stylesheet">

    <style type="text/css">
        .fa.fa-plus-square-o.fa-lg
        {
            color: white;
        }
    </style>

</head>

<body>

<nav class="navbar navbar-inverse no-margin">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header fixed-brand" style="margin-left: 48%">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"  id="menu-toggle" style="right: 175%">
            <span class="fa fa-plus-square-o fa-lg" aria-hidden="true"></span>
        </button>
        <a class="navbar-brand" href="/home"><i class="fa fa-rocket fa-4"></i> Apollo</a>
    </div><!-- navbar-header-->

    	<!--<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active" ><button class="navbar-toggle collapse in" data-toggle="collapse" id="menu-toggle-2"> <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span></button></li>
            </ul>
        </div>--><!-- bs-example-navbar-collapse-1 -->
</nav>
<div id="wrapper" class="toggled-2">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
            <li>
                <a href="/home"><span class="fa-stack fa-lg pull-left"><i class="fa fa-map-marker fa-stack-1x "></i></span>Map</a>
            </li>

            <li>
                <a href="/chat"><span class="fa-stack fa-lg pull-left"><i class="fa fa-comment-o fa-stack-1x "></i></span>Chat</a>
            </li>

            <li>
                <a href="/contact"><span class="fa-stack fa-lg pull-left"><i class="fa fa-users fa-stack-1x "></i></span>Contact Us</a>
            </li>

            <li>
                <a href="/"><span class="fa-stack fa-lg pull-left"><i class="fa fa-power-off fa-stack-1x "></i></span>Logout</a>
            </li>
        </ul>
    </div><!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid xyz">
            <div class="row">
                <div class="col-lg-12">
                    <div class="col-lg-12">
                        <h2 class="text-info" align="center">Our Team</h2>
                    </div>
                    <div class="col-lg-6 col-sm-6 text-center">
                        <div class="member">
                            <img class="img-circle img-responsive center-block" src="/images/ameya.jpg" alt="">
                            <h3>Ameya Manjrekar</h3>
                            <h5>Chief Technology Officer</h5>
                            <a target="_blank" href="https://www.linkedin.com/in/ameyamanjrekar" id="modal-linkedin"><img src="images/linkedin.png" style="width: 30px;"/></a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6 text-center">
                        <div class="member">
                            <img class="img-circle img-responsive center-block" src="/images/dolly.jpg" alt="">
                            <h3>Dolly Gupta</h3>
                            <h5>Chief Financial Officer</h5>
                            <a target="_blank" href="https://in.linkedin.com/in/guptadolly" id="modal-linkedin"><img src="images/linkedin.png" style="width: 30px;"/></a>
                        </div>
                    </div>
                    <div class="col-lg-12 col-sm-6 text-center">
                        <div class="member">
                            <img class="img-circle img-responsive center-block" src="/images/rajas.jpg" alt="">
                            <h3>Rajas Hegiste</h3>
                            <h5>Chief Resources Officer</h5>
                            <a target="_blank" href="https://www.linkedin.com/pub/rajas-hegiste/78/582/661" id="modal-linkedin"><img src="images/linkedin.png" style="width: 30px;"/></a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6 text-center">
                        <div class="member">
                            <img class="img-circle img-responsive center-block" src="/images/madhav.jpg" alt="">
                            <h3>Madhav Vasudev</h3>
                            <h5>Chief Marketing Officer</h5>
                            <a target="_blank" href="https://www.linkedin.com/pub/madhav-vasudev/78/991/635" id="modal-linkedin"><img src="images/linkedin.png" style="width: 30px;"/></a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6 text-center">
                        <div class="member">
                            <img class="img-circle img-responsive center-block" src="/images/mansi.jpg" alt="">
                            <h3>Mansi Shah</h3>
                            <h5>Chief Operations Officer</h5>
                            <a target="_blank" href="https://in.linkedin.com/in/mansishah88" id="modal-linkedin"><img src="images/linkedin.png" style="width: 30px;"/></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- footer -->
<nav class="navbar navbar-inverse no-margin">
    <div class="container">
        <p align="center" style="padding-top: 1%; color: white">Copyright - Apollo Inc. 2015</p>
    </div>
</nav>
<!-- end footer -->
</body>
<script type="text/javaScript" src="/javascript/jquery-1.11.2.min.js"></script>
<script src="/javascript/sidebar_menu.js"></script>
<script src="/javascript/bootstrap.min.js"></script>

</html>
