<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Apollo280 Crowdsourcing">
    <meta name="author" content="Ameya">
    <meta name="keywords" content="Apollo280, Crowdsourcing, Madhav, Ameya, Rajas, Dolly, Mansi, Heroku, Closed Roads, Traffic Jam, Emergency, Chat">

    <title>Apollo280 Contacs</title>

    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

    <link href="/stylesheets/simple-sidebar.css" rel="stylesheet">

    <link href="/font-awesome-4.3.0/css/font-awesome.min.css" rel="stylesheet">

    <style type="text/css">
        .fa.fa-plus-square-o.fa-lg
        {
            color: white;
        }
    </style>


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<nav class="navbar navbar-inverse no-margin">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header fixed-brand" style="margin-left: 48%">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"  id="menu-toggle" style="right: 175%">
            <span class="fa fa-plus-square-o fa-lg" aria-hidden="true"></span>
        </button>
        <a class="navbar-brand" href="/"><i class="fa fa-rocket fa-4"></i> Apollo</a>
    </div><!-- navbar-header-->

    	<!--<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active" ><button class="navbar-toggle collapse in" data-toggle="collapse" id="menu-toggle-2"> <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span></button></li>
            </ul>
        </div>--><!-- bs-example-navbar-collapse-1 -->
</nav>
<div id="wrapper" class="toggled-2">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
            <li>
                <a href="/"><span class="fa-stack fa-lg pull-left"><i class="fa fa-map-marker fa-stack-1x "></i></span>Map</a>
            </li>

            <li>
                <a href="/chat"><span class="fa-stack fa-lg pull-left"><i class="fa fa-comment-o fa-stack-1x "></i></span>Chat</a>
            </li>
            <li>
                <a href="/charts"><span class="fa-stack fa-lg pull-left"><i class="fa fa-bar-chart fa-stack-1x "></i></span>Charts</a>
            </li>
            <li>
                <a href="/contact"><span class="fa-stack fa-lg pull-left"><i class="fa fa-users fa-stack-1x "></i></span>Contact Us</a>
            </li>


        </ul>
    </div><!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid xyz">
            <div class="row">
                <div class="col-lg-12">
                    <div class="col-lg-12">
                        <h2 class="text-info" align="center">Our Team</h2>
                    </div>
                    <div class="col-lg-6 col-sm-6 text-center">
                        <div class="member">
                            <img class="img-circle img-responsive center-block" src="/images/ameya.jpg" alt="">
                            <h3>Ameya Manjrekar</h3>
                            <h5>Chief Technology Officer</h5>
                            <a target="_blank" href="https://www.linkedin.com/in/ameyamanjrekar" id="modal-linkedin"><img src="images/linkedin.png" style="width: 30px;"/></a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6 text-center">
                        <div class="member">
                            <img class="img-circle img-responsive center-block" src="/images/dolly.jpg" alt="">
                            <h3>Dolly Gupta</h3>
                            <h5>Chief Financial Officer</h5>
                            <a target="_blank" href="https://in.linkedin.com/in/guptadolly" id="modal-linkedin"><img src="images/linkedin.png" style="width: 30px;"/></a>
                        </div>
                    </div>
                    <div class="col-lg-12 col-sm-6 text-center">
                        <div class="member">
                            <img class="img-circle img-responsive center-block" src="/images/rajas.jpg" alt="">
                            <h3>Rajas Hegiste</h3>
                            <h5>Chief Resources Officer</h5>
                            <a target="_blank" href="https://www.linkedin.com/pub/rajas-hegiste/78/582/661" id="modal-linkedin"><img src="images/linkedin.png" style="width: 30px;"/></a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6 text-center">
                        <div class="member">
                            <img class="img-circle img-responsive center-block" src="/images/madhav.jpg" alt="">
                            <h3>Madhav Vasudev</h3>
                            <h5>Chief Marketing Officer</h5>
                            <a target="_blank" href="https://www.linkedin.com/pub/madhav-vasudev/78/991/635" id="modal-linkedin"><img src="images/linkedin.png" style="width: 30px;"/></a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6 text-center">
                        <div class="member">
                            <img class="img-circle img-responsive center-block" src="/images/mansi.jpg" alt="">
                            <h3>Mansi Shah</h3>
                            <h5>Chief Operations Officer</h5>
                            <a target="_blank" href="https://in.linkedin.com/in/mansishah88" id="modal-linkedin"><img src="images/linkedin.png" style="width: 30px;"/></a>
                        </div>
                    </div>
                    <br><br><br>
                    <div class="col-lg-12 col-sm-2 text-center">
                        <h3>Our Office Location</h3>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3172.3092217614094!2d-121.88326018469493!3d37.33518737984174!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fccb864de43d5%3A0x397ffe721937340e!2sSan+Jos%C3%A9+State+University!5e0!3m2!1sen!2sus!4v1449395422434" width="950" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

</body>
<script type="text/javaScript" src="/javascript/jquery-1.11.2.min.js"></script>
<script src="/javascript/sidebar_menu.js"></script>
<script src="/javascript/bootstrap.min.js"></script>

</html>
